body {
    margin: 0 auto;
    padding: 0;
    background-color: #FAFAFA;
    font-family: Avenir, "Open Sans", "Helvetica Neue", Helvetica, Arial, Verdana, Roboto, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Meiryo UI", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

#header {
    text-align: center;
    font-size: x-large;
    width: 300px;
    margin: 0 auto 30px auto;
    padding: 10px 0;
}

#header:hover {
    animation: vibration .1s  infinite;
}

/* by https://q-az.net/buruburu-hurueru-css/ */
@keyframes vibration {
    0% {transform: translate(0px, 0px) rotateZ(0deg)}
    25% {transform: translate(2px, 2px) rotateZ(1deg)}
    50% {transform: translate(0px, 2px) rotateZ(0deg)}
    75% {transform: translate(2px, 0px) rotateZ(-1deg)}
    100% {transform: translate(0px, 0px) rotateZ(0deg)}
}

#face {
    text-align: center;
}

#contents {
    max-width: 350px;
    margin: 0 auto;
}

.section {
    margin: 40px 0;
}

.section-title {
    font-size: large;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid #CCC;
    margin: 0 auto;
}

.section-body {
    font-family: HelveticaNeue-Light,'Helvetica Neue Light',sans-serif;
    font-size: small;
    margin: 0 30px;
    padding-top: 4px;
    text-align: center;
}

.section-body ul {
    padding-left: 24px;
    margin: 4px 0;
    list-style-type: square;
    text-align: left;
}

footer {
    font-size: small;
    margin-top: 50px;
    text-align: center;
}