body {
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  position: relative;
  background-color: #FAFAFA;
}

button {
  background-color: white;
  border: 1px solid #555;
  padding: 4px 8px;
}

button:focus {
  outline: solid 1px lightgray;
}

#header {
  background-color: white;
  font-size: xx-large;
  font-weight: bold;
  text-align: center;
  width: 100%;
  margin: 0 -500%;
  padding: 10px 500%;
  border-bottom: 1px solid lightgray;
}

#contents {
}

.top_container {
  margin: 20px auto;
  padding: 4px;
  width: 400px;
  border: 1px solid lightgray;
}

.centering_text {
  text-align: center;
}

#generated_names_container {
  margin: 0 auto;
  width: 350px;
}

#generated_names li {
  margin: 2px 0;
}

#controllers {
  border-top: 1px solid lightgray;
  margin-top: 8px;
  padding: 8px 8px 4px 8px;
  text-align: center;
}

#input_size {
  width: 75px;
  height: 21px;
  padding: 0;
}

#input_size:focus {
  outline: solid 1px lightgray;
}

#info {
  font-size: small;
}

footer {font-size: small; text-align: center; margin-top: 50px;}
