<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <link rel="stylesheet" href="./nicknamer.css">
  <title>異名メーカー - Margherita Works</title>
</head>
<body>
  <div id="app">
    <el-container id="l-appContainer">
      <el-header id="header">異名メーカー</el-header>
      <el-main id="l-appMain">
        <el-tabs v-model="activeTabName" class="l-mainTabs">
          <el-tab-pane label="Maker" name="maker" class="l-tab__maker">
            <el-scrollbar class="el-scrollbar__generatedNames">
              <div class="l-generatedNames">
                <ul class="c-flatlist">
                  <li
                    v-for="(name, i) in nicknames"
                    class="c-nickname c-generatedName"
                    :class="{ selected: isSelectedName(i) }"
                    @click="onClickName(i)"
                  >{{ name }}</li>
                </ul>
              </div>
            </el-scrollbar>
            <div class="p-controller">
              <el-input-number
                class="p-inputNamesCount"
                type="number"
                v-model="namesCount"
              ></el-input-number>
              <el-button
                class="p-btnGenerateNames"
                :disabled="!validateClickGenerate"
                @click="onClickGenerate"
              >個 再生成</el-button>
              <el-button
                class="p-btnGenerateNames"
                :disabled="selectedNames.length===0"
                @click="saveSelectedName"
              >保存</el-button>
            </div>
          </el-tab-pane>
          <el-tab-pane label="Saves" name="saves" class="l-tab__saves">
            <el-scrollbar class="el-scrollbar__savedNames">
              <ul class="l-savedNames c-flatlist">
                <li
                  v-for="name in savedNames"
                >{{ name }}</li>
              </ul>
            </el-scrollbar>
          </el-tab-pane>
        </el-tabs>
      </el-main>
      <el-footer id="footer">Copyright 2014-2016 Margherita Works / Getaji</el-footer>
    </el-container>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <script type="text/javascript" src="nickname_parts_compiled.js"></script>
  <script type="text/javascript" src="nicknamer.js"></script>
</body>
</html>
