/* ==========================================================================
   Foundation
   ========================================================================== */

/* Base
   ----------------------------------------------------------------- */
body {
  margin: 0 auto;
  padding: 0;
  background-color: #FAFAFA;
}

/* ==========================================================================
   Layout
   ========================================================================== */

/* Header
   ----------------------------------------------------------------- */
#header {
  font-size: x-large;
  text-align: center;
  padding: 10px 0;
}

/* App
   ----------------------------------------------------------------- */
#app {
  max-width: 500px;
  margin: 0 auto;
}

#l-appContainer {
  margin: 0 auto;
  height: 100vh;
}

#l-appMain {
  display: flex;
  flex-direction: column;
}

/* Footer
   ----------------------------------------------------------------- */
#footer {
  font-size: small;
  text-align: center;
  margin-top: 50px;
}

.l-mainTabs {
  display: flex;
  flex-direction: column;
}

.l-mainTabs .el-tabs__content {
  display: flex;
}

/* Generated Nicknames
   ----------------------------------------------------------------- */
.l-tab__maker {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.l-generatedNames {
  margin: 0 auto;
  padding: 0 6px;
}

.el-scrollbar__generatedNames {
  width: 100%;
}

.el-scrollbar__generatedNames .el-scrollbar__wrap {
  overflow-x: hidden;
}

.c-generatedName:not(.selected):hover {
  background-color: #DDD;
}

.c-generatedName.selected {
  background-color: palegreen;
}

/* Saved Nicknames
   ----------------------------------------------------------------- */
.l-tab__saves {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.el-scrollbar__savedNames {
  width: 100%;
}

.el-scrollbar__savedNames .el-scrollbar__wrap {
  overflow-x: hidden;
}

.l-savedNames {
  padding: 0 6px;
}

/* ==========================================================================
   Object
   ========================================================================== */

/* Component
   ----------------------------------------------------------------- */

.c-flatlist {
  list-style-type: none;
  padding: 0;
}

.c-flatlist li {
  margin: 2px 0;
}

/* Project
   ----------------------------------------------------------------- */
/**
 * Controllers
 */
.p-controller {
  display: flex;
  justify-content: center;
  margin-top: 8px;
  padding: 8px 8px 4px 8px;
  border-top: 1px solid lightgray;
}

.p-inputNamesCount {
  width: 130px;
}

.p-inputNamesCount input {
  text-align: right;
}