body {
    margin: 0;
}

#app {
    max-width: 500px;
    margin: 0 auto;
}

.timerGroupName {
    padding: 4px 4px;
    font-weight: bold;
}

.timerItems {
    display: flex;
}

.timers:empty:after {
    content: 'タイマーはありません';
    text-align: center;
    display: block;
    font-size: small;
    color: gray;
    background-color: #EEE;
}

.timerName,
.timerLength {
    padding: 4px 8px;
}

.timerLength {
    width: 80px;
    padding-right: 20px;
    text-align: right;
}

.timerName {
    flex: 1;
}

.timerGroupForm {
    display: flex;
    margin-top: 8px;
    padding: 2px;
}

.timerGroupForm .label {
    flex: 1;
}

.timerGroupForm label {
    font-size: small;
}

.timerGroupForm input[type="checkbox"] {
    vertical-align: bottom;
}

.timerGroupForm input[type="number"] {
    width: 3em;
    text-align: right;
}

.timerGroupForm .add {
    margin-left: 2px;
}

.vcProgressBar {
    width: 100%;
    height: 4px;
    border: none;
}

.timerItems button {
    height: 100%;
}

.vcProgressBar {
    background-color: #DDD;
}

.timer-finished .vcProgressBarFg {
    background-color: #68d3ff;
}

#formAddTimerGroup {
    margin-top: 10px;
}

#formAddTimerGroup .header {
    text-align: center;
    font-weight: bold;
}

#formAddTimerGroup .form {
    display: flex;
    justify-content: center;
}

#globalSettings {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#globalSettings .header {
    font-weight: bold;
}

#globalSettings label {
    display: block;
    font-size: small;
}

.globalSettingSEVolume {
    width: 50px;
    text-align: center;
}

#page-footer {
    font-size: small;
    text-align: center;
    margin-top: 30px;
}

footer {
    font-size: small;
    text-align: center;
    margin-top: 30px;
}

button {
    border: none;
    background-color: #EEE;
    padding: 1px 9px;
    border: 1px solid #EEE;
    color: #444;
}

button:hover:not([disabled]) {
    border-color: #AAA;
    color: black;
}

button[disabled] {
    color: #888;
}
