<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <link rel="stylesheet" type="text/css" href="index.css">
  <title>pixelart enlarger | Margherita Works</title>
</head>
<body>
  <div id="header">pixelart enlarger</div>
  <div id="app">
    <div id="form">
      <div id="fileInputForm">
        <label
          for="fileInput"
          @dragover.prevent="onDragoverFileInput"
          @drop.prevent="onDropFileInput"
        >
          <div>ここをクリック/タップしてファイルを選択</div>
          <div>もしくは画像ファイルをドラッグ＆ドロップ</div>
          <input
            id="fileInput"
            type="file"
            accept="image/*"
            @change="changeFileInput"
          >
        </label>
      </div>
      <div id="urlInputForm">
        <el-input
          id="urlInput"
          placeholder="画像のURL"
          v-model="inputImageUrl"
        ></el-input>
        <el-button
          :disabled="!validateSubmitUrlInput"
          @click="submitUrlInput"
        >読込</el-button>
      </div>
    </div>
    <div id="loadState">
    </div>
    <div id="canvasToolbox">
      <div id="imageSize">
        <span class="originalSize">原寸: {{ imageWidth }}x{{ imageHeight }}</span>
        <span class="canvasSize">現在: {{ canvasWidth }}x{{ canvasHeight }}</span>
      </div>
      <div id="imageColor">
        背景色:
        <div id="pickedColorRGB" class="inline">rgb(0, 0, 0)</div>
        <div id="pickedColor" class="inline" :style="{backgroundColor: bgColor}"></div>
      </div>
      <div id="imageEnlarger">
        <div id="formResizer">
          <el-input-number
            id="magnification"
            v-model="magnification"
            type="number"
            :min="1"
            @change="reflectMagnification"
          ></el-input-number>
        </div>
        <div id="property">
          <!--div id="showBorderWrapper">
            <label><input id="showBorder" type="checkbox">枠線を表示</label>
          </div-->
          <div id="showBgColorWrapper">
            <label>
              <input
                id="showBgColor"
                type="checkbox"
                v-model="isShowBgColor"
                @change="drawImage()"
              >
              背景色を表示
            </label>
            <input
              id="selectBgColor"
              type="color"
              v-model="bgColor"
              @change="drawImage()"
            >
          </div>
        </div>
      </div>
    </div>
    <div id="enlargedImage">
      <canvas
        :width="canvasWidth"
        :height="canvasHeight"
        :style="canvasStyle"
        ref="canvas"
        @click="onClickCanvas"
      >
        お使いのブラウザはCanvas APIをサポートしていません。
      </canvas>
    </div>
  </div>
  </div>
  
  <footer>
    <a href="../index.html">Copyright 2014-2016 Margherita Works / Getaji</a>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <script src="lib.js"></script>
  <script src="index.js"></script>
</body>
</html>
